---
import ContentPage from "../layouts/ContentPage.astro";
import { Listings, Listing } from "../components";
import { loadConfig, loadPages } from "../lib/storefront";

const config = await loadConfig();
const pages = await loadPages(config);
const homePage = pages.get(config.home);

const mdxModules = import.meta.glob('/pages/*.mdx');
const homeModule = mdxModules[`/pages/${config.home}.mdx`];

let Content: any = null;
if (homeModule) {
  const mod = await homeModule() as any;
  Content = mod.default;
}
---

{Content ? (
  <ContentPage title={homePage?.title ?? config.name} hasExplicitTitle={homePage?.hasExplicitTitle ?? false}>
    <Content components={{ Listings, Listing }} />
  </ContentPage>
) : (
  <ContentPage title={config.name}>
    <p>Create <code>pages/{config.home}.mdx</code> to get started.</p>
  </ContentPage>
)}
