---
import "../styles/pages/index.css";
import Base from "../layouts/Base.astro";
import Listings from "../components/Listings/Listings.astro";
import { getListings } from "../lib/storefront";

const listings = await getListings();
---

<Base title="Corner Store">
  <header class="cs-header">
    <div class="cs-main">
      <h1>Corner Store</h1>
    </div>
  </header>
  <main class="cs-storefront">
    <div class="cs-main">
      <Listings listings={listings} />
    </div>
  </main>
</Base>
