---
import "../styles/reset.css";
import "../styles/palette.css";
import "../styles/defaults.css";

import fs from 'node:fs';
import path from 'node:path';

interface Props {
  title: string;
}

const { title } = Astro.props;

const themePath = path.resolve(process.cwd(), 'theme/theme.css');
const themeExists = fs.existsSync(themePath);
let themeCSS = '';
if (themeExists) {
  themeCSS = fs.readFileSync(themePath, 'utf8');
}
---

<!doctype html>
<html lang="en">
  <head>
    <style is:inline>@layer package, theme;</style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <slot name="head" />
    {themeCSS && <Fragment set:html={`<style>@layer theme{${themeCSS}}</style>`} />}
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
